.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #bdb4b1;
  /* Default background for large screens */
  z-index: 1000;
  justify-content: center;
  display: flex;
  height: 80px;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem;
}

.nav__logo {
  color: var(--first-color);
  font-family: var(--second-font);
  text-decoration: none;
}

.nav__toggle,
.nav__close {
  font-size: 40px;
  color: var(--title-color);
  cursor: pointer;
}

.nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  font-size: large;
  font-weight: 500;
}

.nav__link {
  color: var(--title-color);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #bdb4b1;
  /* Background for mobile */
  backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: right 0.4s ease-in-out;
}

.nav__close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 40px;
}

.show-menu {
  right: 0;
}

/* Styles for larger screens */
@media screen and (min-width: 1150px) {
  .header {
    background-color: #bdb4b1;
    /* Navbar background for larger screens */
  }

  .nav__menu {
    position: relative;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    right: 0;
    /* Ensure the menu is visible */
    display: flex;
    /* Flexbox to show the menu on large screens */
    flex-direction: row;
    justify-content: flex-end;
    transition: none;
    /* No transition needed for large screens */
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
    /* Hide toggle buttons on large screens */
  }
}

/* Additional mobile-specific styling */
@media screen and (max-width: 1150px) {
  .header {
    background-color: #bdb4b1;
    /* Darker navbar background for mobile */
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* Hidden by default on mobile */
    /* background-color: rgba(0, 0, 0, 0.7); */
    backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s ease-in-out;
  }

  .show-menu {
    right: 0;
    /* Show menu when toggled */
  }
}